.side-spacer {
    padding-left: 5%;
    padding-right: 5%;
}

.top-spacer {
    margin-top: 2%;
}

.bottom-spacer {
    margin-bottom: 2%;
}

.correct-answer {
    color: rgb(40, 235, 40);
}

.wrong-answer {
    color: rgb(219, 9, 9);
}