@for (problem of generatedProblems; track problem){
    <mat-card class="top-spacer">
        <div class="side-spacer">
            <h4>Problem {{ $index + 1 }}</h4>
            @if (problem.type === 'membership'){
                <p>Is the follow statement true:</p>
                <markdown katex>
                    $ {{ problem.number }} \in \lbrace {{ Array.from(problem.set).join(',&nbsp;') }} \rbrace $?
                </markdown>
                <div>
                    <p>True/False</p>
                    <mat-form-field>
                        <mat-label>Answer</mat-label>
                        <input
                            matInput
                            placeholder="True/False"
                            [(ngModel)]="generatedProblems[$index].userAnswer"
                        />
                    </mat-form-field>
                </div>
            }
        </div>
    </mat-card>
}

<mat-card class="top-spacer">
    <div class="side-spacer">
        <button mat-raised-button color="primary" (click)="sendUserAnswers()">Submit</button>
    </div>
</mat-card>