<mat-tab-group dynamicHeight="true">
    <mat-tab label="Lesson">
        <div class="spacer">
            <markdown  
            katex
            [src]="'/markdown-files/set-theory-notation.md'"
            (load)="onLoad($event)"
            (error)="onError($event)"></markdown>
        </div>
    </mat-tab>
    <mat-tab [label]="userAnswered ? 'Solutions' : 'Problems'">
        <div class="spacer">
            @if (!userAnswered) {
                <span>Here are some generated problems:</span>
                <app-set-theroy-notation-subset-problem-generator></app-set-theroy-notation-subset-problem-generator>
            }
            @else {
                <app-set-theroy-notation-subset-solution-component></app-set-theroy-notation-subset-solution-component>
            }
        </div>
    </mat-tab>
</mat-tab-group>
